.App {
  text-align: center;
  background-color: #fbf7f5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-content {
  margin: 25px;
  padding: 25px;
  background: #f9f1f1;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.search-input {
  margin-bottom: 16px !important
}